<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <!-- Optional: Link shared styles if needed -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="about-content">
        <p>this is the web console for creating and hosting your own websites using google cloud.</p>
        <p>we also help you do things like set up and manage domain names, backup your website, and more.</p>
        <p>our mission is to eliminate dependency on proprietary website creation and hosting services.</p>
        <p>you can pause or cancel anytime and keep your website, and manage it through the google cloud console.</p>
        <p>it costs $8 a month, and you can buy individual months, or you can subscribe.</p>
        <p>the code for this website is available <a href="https://github.com/briefchase/hosting_service_frontend">here</a>.</p>
        <p>contact hey@servercult.com with any questions or concerns.</p>
        <p></p>
        <p>version: 1.0.0</p>
    </div>
</body>
</html>
